
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-offset-2 col-lg-8">

                <div class="row">
                    <div class="col-xs-12">
                        <ul class="breadcrumb">
                            <li><a  routerLink="">Users</a></li>
                            <li><a  routerLink="/user/{{selectedUser.user_id}}">{{selectedUser.name}}</a></li>
                            <li><strong>Chat</strong></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        


                        <div class="block">
                            <!-- Title -->
                            <div class="block-title">
                                <h2><i class="fa fa-pencil animation-pulse"></i> <strong>{{selectedUser.nickname}}</strong></h2>
                            </div>
                            <!-- END Title -->

                            <!-- Content -->
                            <div class="chatui-container block-content-full">
                                <!-- People -->
                                <div class="chatui-people themed-background-dark">
                                    <div class="chatui-people-scroll">

                                        <h2 class="chatui-header"><i class="fa fa-circle text-success pull-right"></i><strong>Online</strong></h2>
                                        <div class="list-group">
                                            <a *ngFor="let user of usersOnline" routerLink="/user/{{user.id}}/im" routerLinkActive="active" class="list-group-item">
                                                <span class="badge">{{user.name.length}}</span>
                                                <img src="img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle">
                                                <h5 class="list-group-item-heading"><strong>{{user.name}}</strong> {{user.job}}</h5>
                                            </a>
                                        </div>

                                        <hr>

                                        <h2 class="chatui-header"><i class="fa fa-circle text-warning pull-right"></i><strong>Away</strong></h2>
                                        <div class="list-group">
                                            <a *ngFor="let user of usersAway" routerLink="/user/{{user.id}}/im" routerLinkActive="active" class="list-group-item">
                                                <span class="badge">{{user.name.length}}</span>
                                                <img src="img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle">
                                                <h5 class="list-group-item-heading"><strong>{{user.name}}</strong> {{user.job}}</h5>
                                            </a>
                                        </div>

                                        <hr>

                                        <h2 class="chatui-header"><i class="fa fa-circle text-danger pull-right"></i><strong>Busy</strong></h2>
                                        <div class="list-group">
                                            <a *ngFor="let user of usersBusy" routerLink="/user/{{user.id}}/im" routerLinkActive="active" class="list-group-item">
                                                <span class="badge">{{user.name.length}}</span>
                                                <img src="img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle">
                                                <h5 class="list-group-item-heading"><strong>{{user.name}}</strong> {{user.job}}</h5>
                                            </a>
                                        </div>

                                        <hr>

                                        <h2 class="chatui-header"><i class="fa fa-circle text-default pull-right"></i><strong>Offline</strong></h2>
                                        <div class="list-group">
                                            <a *ngFor="let user of usersOffline" routerLink="/user/{{user.id}}/im" routerLinkActive="active" class="list-group-item">
                                                <span class="badge">{{user.name.length}}</span>
                                                <img src="img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle">
                                                <h5 class="list-group-item-heading"><strong>{{user.name}}</strong> {{user.job}}</h5>
                                            </a>
                                        </div>


                                    </div>
                                </div>
                                <!-- END People -->

                                <!-- Talk -->
                                <div class="chatui-talk">
                                    <div class="chatui-talk-scroll">

                                        <ul>

                                            <div *ngFor="let history of chatData.history">
                                                <li class="text-center"><small>{{history.date}}</small></li>

                                                <div *ngFor="let message of history.messages">

                                                    <div *ngIf="message.author == 'user'; then userBlock else meBlock"></div>
                                                    
                                                    <ng-template #userBlock>
                                                        <li class="chatui-talk-msg">
                                                            <img src="img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle chatui-talk-msg-avatar">{{message.msg}}
                                                        </li>
                                                    </ng-template>

                                                    <ng-template #meBlock>
                                                        <li class="chatui-talk-msg chatui-talk-msg-highlight themed-border 
                                                        {{message.isNew ? 'animation-expandUp' : ''}}">
                                                            <img src="img/placeholders/avatars/avatar2.jpg" alt="Avatar" class="img-circle chatui-talk-msg-avatar">{{message.msg}}
                                                        </li>
                                                    </ng-template>

                                                    

                                                </div>

                                            </div>


                                        </ul>

                                    </div>
                                </div>
                                <!-- END Talk -->

                                <!-- Input -->
                                <div class="chatui-input">
                                    <form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="form-horizontal form-control-borderless remove-margin">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-angle-right"></i></span>
                                            <input type="text" id="chatui-message" formControlName="message" ngModel name="chatui-message" class="form-control input-lg" placeholder="Type a message and hit enter..">
                                        </div>
                                    </form>
                                </div>
                                <!-- END Input -->
                            </div>
                            <!-- END Content -->
                        </div>







                    </div>
                </div>

            </div>

        </div>
    </div>




