
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-offset-2 col-lg-8">

                <div class="row">
                    <div class="col-xs-12">
                        <ul class="breadcrumb">
                            <li><a  routerLink="">Users</a></li>
                            <li><strong>{{selectedUser.name}}</strong></li>
                        </ul>
                    </div>
                </div>

                <div class="row">

                    <!-- users -->
                    <div class="col-xs-6">

                        <div class="row">
                            <div *ngFor="let user of usersData" class="col-xs-12">

                                <div class="widget themed-background-dark">
                                    <div class="widget-simple">
                                        <a routerLink="/user/{{user.id}}">
                                            <img src="/img/placeholders/avatars/avatar12.jpg" alt="avatar" class="widget-image img-circle pull-left">
                                        </a>
                                        <h4 class="widget-content widget-content-light">
                                            <a routerLink="/user/{{user.id}}" class="themed-color">
                                                <strong>{{user.name}}</strong>
                                            </a>
                                            <small>{{user.job}}</small>
                                        </h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                    <!-- end users -->

                    <!-- profile -->
                    <div class="col-xs-6">

                        <div class="row">
                            <div class="col-xs-12">

                                <div class="widget">
                                    <div class="widget-simple">
                                        <a routerLink="/user/{{selectedUser.user_id}}">
                                            <img src="img/placeholders/avatars/avatar2.jpg" alt="avatar" class="widget-image img-circle pull-right">
                                        </a>
                                        <h2>
                                            <a routerLink="/user/{{selectedUser.user_id}}"><strong>{{selectedUser.name}}</strong></a>
                                            <small>{{selectedUser.nickname}}</small>
                                        </h2>
                                        <h4>
                                            {{selectedUser.job}} / 
                                            <strong>{{selectedUser.company}}</strong>
                                        </h4>
                                        Age: {{selectedUser.age}}
                                    </div>
                                    <div class="widget-extra themed-background-dark">
                                        <div class="row text-center">
                                            <div class="col-xs-12 col-sm-4">
                                                <h3 class="widget-content-light">
                                                    <a href="javascript:void(0)"><strong>{{selectedUser.friends}}</strong></a><br>
                                                    <small>Friends</small>
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <h3 class="widget-content-light">
                                                    <a href="javascript:void(0)"><strong>{{selectedUser.groups}}</strong></a><br>
                                                    <small>Groups</small>
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <h3 class="widget-content-light">
                                                    <a href="javascript:void(0)"><strong>{{selectedUser.photos}}</strong></a><br>
                                                    <small>Photos</small>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-extra">
                                        <div class="row text-center">
                                            <div class="col-xs-12 col-sm-4">
                                                <h3>
                                                    <a href="javascript:void(0)"><strong>{{selectedUser.followers}}</strong></a><br>
                                                    <small>Followers</small>
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <h3>
                                                    <a href="javascript:void(0)"><strong>{{selectedUser.projects}}</strong></a><br>
                                                    <small>Projects</small>
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <h3>
                                                    <a href="javascript:void(0)"><strong>{{selectedUser.sales}}</strong></a><br>
                                                    <small>Sales</small>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-extra-full">
                                        <form action="" method="post" class="form-horizontal" onsubmit="return false;">
                                            <div class="form-group remove-margin-bottom text-right">
                                                <div class="col-xs-12">
                                                    <a class="btn btn-block" href="/user/{{selectedUser.user_id}}/im" class="btn btn-primary"><i class="fa fa-pencil"></i> Write a message</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                    <!-- end profile -->

                </div>

            </div>

        </div>
    </div>



